.body{
    display: inline-block;
    width: 100%;
    height:800px ;
    background-repeat: no-repeat;
    background-image:url("C:/Users/PC/Documents/ALTSCHOOL AFRICA/ALTSCHOOL AFRICA/homework/images/telephone.jpg");
    background-size: 100% 100%;
    text-align: left;
    padding: 35px;
    font-size:large;
    align-self: center;
}
.contactfield{
    background-color: rgb(193, 219, 243) ;
    height: 200px;
    width: 200px;
    color: rgb(46,17,63);
    padding: 50px;
    border-radius: 1em;
}